<label style="display: block; width: 30pm;"><%= title %></label>
<input type="text" class="input-medium" placeholder="from yyyy/mm/dd" name="from" data-provide="datepicker">
<input type="text" class="input" placeholder="to yyyy/mm/dd" name="to" data-provide="datepicker">
