<h2>資金移動</h2>

<%= form_for @bank_transfer, url: casein_bank_transfers_path do |f| %>
  <%= render 'form', f: f %> 
<% end %>
<%= content_for :sidebar do %>
  <li><%= link_to 'PDF', casein_bank_transfer_path(@bank_transfer, format: :pdf), class: 'btn btn-mini btn-primary' %></li>
<% end %>
