/* CASEIN CUSTOM */
/* Use this file for your project-specific Casein CSS */
/*
 *= require jquery-ui
 *= require bootstrap-datepicker3
 *= require ./jquery-autocomplete-custom
 */

table.table th {
  white-space: nowrap;
}

input[type=checkbox].casein-like {
  margin: 15px 10px 15px 10px;
}

.casein-like {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 15px 10px 15px 10px;
}

.money {
  text-align: right;
}
