<div class="container">
  <div class="well">
    <h3 class="error-msg"><%= t('errors.messages.error_occured') %></h3>
    <div class="error-msg-detail">
      <%= @message ? @message : '' %>
    </div>
  </div>
</div>

